.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  width: 100%;
  height: 100px;
  background-color: #cbd5e1;
  margin-bottom: 10px;
}

.head {
  color: #475569;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: bold;
}
